{% extends 'chat/base.html' %}
{% block main %}
    <div class="card" >

<h2 class="text-center" style="font-family: cursive;">About Developer</h2>
        <div class="d-md-flex">
        <div class="card col-12 col-md-6"><img height="500px" width="500px" class="container" src="https://media-exp1.licdn.com/dms/image/C5603AQGJOQddGSL-Jg/profile-displayphoto-shrink_800_800/0/1597675108698?e=1620259200&v=beta&t=ns1uJjkloYq_8e5ivw2zeXNntqsuUlHgKrVkV8drcJA"> </div>

            <div class="card col-12 col-md-6 text-center" style="font-family: 'fantasy';">
                <div class="justify-content-center d-flex h-100 flex-column">
                    <h1 >Syed Fasih Uddin</h1>
                    <p>Syed Fasih Uddin is a student of Software Engineering at Usman Institute of Technology (NED University). He resides in Karachi, Pakistan. He is a passionate Programmer. He has <a href="https://courses.edx.org/certificates/b473fbedb6d34f0098db3844bb96acd2"> completed</a> the <a href="https://cs50.harvard.edu/x/">CS50 - Introduction to Computer Science</a> course offered by HarvardX. He is also a <a href="https://www.sololearn.com/Certificate/1073-5927789/pdf/"> SoloLearn certified</a> Python Core Programmer. This project, 'Chatora' is his final/capstone project for another course offered by HarvardX  "<a href="https://cs50.harvard.edu/web/"> CS50 - Web Programming with Python and Javascript</a>". His aim in life is to strive to make the world a better place for all.</p>

                <p>You can contact him on LinkedIn: <a href="https://www.linkedin.com/in/sssfasih/"> @sssfasih</a> and via email <a href="mailto:sssfasih@gmail.com"> sssfasih@gmail.com</a>. </p>
            </div>
                </div>
</div>

    </div>

{% endblock %}