{% extends 'auctions/layout.html' %}

{% block body %}

<div class="container">

    <div class="card-header">
        Categories
    </div>
        {% for i in categories %}
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ i.category}}</h5>
        <a href="{% url 'category' i.category %}" class="btn btn-secondary">View Products</a>
    </div>
    </div>
            {% empty %}
            <div class="card">
    <div class="card-body text-center">
        <h5 class="card-title">Your watchlist is empty</h5>

        <a href="{% url 'index' %}" class="btn-secondary btn">Back to homepage</a>
    </div>
    </div>
        {% endfor %}
    </div>


{% endblock %}