{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container">
        <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
            <div class="form-group">
                <label for="p_name">Product Name</label>
                <input type="text" class="form-control" id="p_name" name="p_name">
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control" id="desc" rows="2" name="desc"></textarea>
            </div>
            <div class="form-group">
                <label for="cat">Category</label>
                <select class="form-control" id="cat" name="cat">
                    {% for cat in categories %}
                        <option>{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="initPrice">Initial Price</label>
                <input type="number" class="form-control" id="initPrice" name="init_price">
            </div>

            <div class="form-group">
                <label for="imagae">Image Link</label>
                <input type="text" class="form-control" id="imagae" name="img">
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-secondary" id="submit">
            </div>


        </form>
    </div>
{% endblock %}