{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="text-center">Active Listings</h2>

    <div class="container-fluid row">
    {% for i in products %}

<div class="card col-6">
        <div class="container h-75">
        <img src="{{ i.image }}" class="card-img-top img img-fluid h-100" alt="...">
    </div>
    <div class="card-body">

    <h5 class="card-title">{{ i.name }}</h5>
    <h6 class="card-text text-muted">By: {{ i.owner }}</h6>
    <p class="card-text">{{ i.desc }}</p>
    <b class="card-text">Rs. {{ i.highest}} /-</b>
        <a href="{% url 'listing' i.id %}"><button type="button" class="btn btn-secondary">View Details</button></a>
  </div>
</div>
    {% endfor %}




   </div>


{% endblock %}