{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Transaction #</th>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Value/Share</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
            <th scope="col">Time</th>
        </tr>
        </thead>

        {% for row in data %}
            <tr>
                <td>{{ row["trans_id"] }}</td>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["quantity"] }}</td>
                <td>{{ row["value"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["status"] }}</td>
                <td>{{ row["time"] }}</td>

            </tr>

        {% endfor %}
    </table>
{% endblock %}