{% extends "layout.html" %}
{% block title %}
    Registration
{% endblock %}


{% block main %}
    <form action="/register" method="POST">
        <input class="form-control" type="text" name="username" placeholder="Enter Username">
        <br><br><br>
        <input class="form-control" type="password" name="password" placeholder="Enter Password">
        <br><br><br>
        <input class="form-control" type="password" name="confirmation" placeholder="Retype Password">
        <br><br>
        <button type="submit" class="btn btn-primary">Register</button>

    </form>

{% endblock %}